<template>
  <div>
      <v-toolbar color="cyan" dark flat>
      <v-icon dark left>mdi-arrow-left-bold</v-icon>
      <v-toolbar-title>Descrição do produto</v-toolbar-title>
    </v-toolbar>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>