<template>
  <v-main>
    <v-container fluid>
      <v-row>
        <v-col cols="12" sm="12">
          <v-container>
            <v-row>
              <v-col
                v-for="item in items"
                :key="item.id"
                class="d-flex child-flex pa-2"
                cols="6"
                sm="4"
                md="4"
                lg="3"
              >
                <v-card  elevation="12" id="rounded-card" class="mx-auto">

                  <v-img
                    @click="detalheProduto(item.nome)"
                    class="pointer white--text align-end "
                    src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
                  >
                    <v-card-title :class="`pb-2 text-${classTitle}`">{{item.nome}}</v-card-title>
                  </v-img>
                  <v-list-item-subtitle
                    :class="`pb-0 pt-1 pl-4 pr-2 text-${classSubtitle}`"
                  >{{item.descricao}}</v-list-item-subtitle>

                  <v-card-actions class="pt-0 pb-0">
                    <v-list-item class="pl-2 pr-2" >
                      <v-list-item-content>
                        <v-list-item-title
                          :class=" `pl-0 text-${classItemTitle}`"
                        >{{item.preco}} R$</v-list-item-title>
                      </v-list-item-content>
                        <v-btn icon>
                          <v-icon>mdi-cart</v-icon>
                        </v-btn>
                    </v-list-item>
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-col>
      </v-row>
    </v-container>
  </v-main>
</template>

<script>
import { EventBus } from "./../../../../utils/event-bus";
export default {
  props: {
    tabId: {
      type: Number,
    },
    loadFirst: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      loadedData: false,
      items: [
            { id:0, nome:"Vestido Longo",descricao:"Bom para baixar",preco:"55.0"},
            { id:1, nome:"Vestido Curto",descricao:"Bom para altas",preco:"20.0"},
            { id:2, nome:"Vestido Medi",descricao:"Bom para medias",preco:"10.0"},
            { id:3, nome:"Saia",descricao:"Bom todas",preco:"100.0"},
          ],
    };
  },
  mounted() {
    console.log("#Mounted#");
    this.loadInicialTab();

    EventBus.$on("load-data-tab", (tabId) => {
      console.log(`Oh, o id da tab clicada foi: ${tabId} ! :)`);
      //EventBus.$off('load-data-tab');
      //});
    });
  },
  methods: {
    loadInicialTab() {
      console.log("#loadInicialTab#", this.tabId);
      if (this.loadFirst) {
        console.log("Id da pagina inicial:", this.tabId);
      }
    },
    detalheProduto(name) {
        this.$router.push({ name: 'item', params: { ItemName: name }})
    },
  },

  computed: {
    classTitle() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "caption";
        default:
          return "body-2";
      }
    },

    classSubtitle() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "caption";
        default:
          return "subtitle-2";
      }
    },

    classItemTitle() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "caption";
        default:
          return "subtitle-2";
      }
    },
  },
};
</script>

<style>
.pointer {cursor: pointer;}
</style>