<template>
  <div>
    <v-toolbar color="cyan" dark flat>
      <v-app-bar-nav-icon></v-app-bar-nav-icon>
      <v-toolbar-title>Nome da Loja</v-toolbar-title>
    </v-toolbar>
    <Tabs />
    <br />
    <BottomNavigation />
  </div>
</template>

<script>
import BottomNavigation from "./../components/home/BottomNavigation";
import Tabs from "./../components/home/Tabs";
export default {
  components: {
    BottomNavigation,
    Tabs,
  },
  data() {
    return {
      key: "value",
    };
  },

  methods: {
    detalheProduto() {},
  },
};
</script>

<style>
#rounded-card {
  border-radius: 10px;
}
</style>