<template>
<v-bottom-navigation
     fixed
    :value="activeBtn"
    color="purple lighten-1"
  >
    <v-btn>
      <span>Loja</span>
      <v-icon>mdi-home</v-icon>
    </v-btn>

    <v-btn>
      <span>Favoritos</span>
      <v-icon>mdi-heart</v-icon>
    </v-btn>

    <v-btn>
      <span>Carro</span>
      <v-icon>mdi-cart</v-icon>
    </v-btn>
  </v-bottom-navigation>
</template>

<script>
export default {
  data() {
    return {
      e3: 0,
      e31: true,
      activeBtn:0,
    };
  },
  mounted() {},
};
</script>

<style>
</style>