<template>
  <v-content>
      Detalhes Produto
  <v-content>
</template>

<script>
export default {
    data() {
        return {
            key: "value"
        }
    },
    mounted () {

    },
    methods: {
        name() {

        }
    },
}
</script>

<style>

</style>