<template>
<div>
    <template >
        <v-tabs
          background-color="cyan"
          dark
          v-model="tab"
          centered
          show-arrows
        >
          <v-tabs-slider color="yellow"></v-tabs-slider>

          <v-tab @click="loadDataTab(item.tabId)"  v-for="item in items" :key="item.tab">
            {{ item.name }}
          </v-tab>
        </v-tabs>
      </template>
    <v-tabs-items v-model="tab">
      <v-tab-item
        v-for="item in items"
        :key="item.tabId"
      >
        <v-card flat>
          <v-card-text ><TabItens :loadFirst="item.tabInicial" :tabId="item.tabId" /></v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs-items>
</div>

</template>

<script>
import TabItens from './components/tabs/TabItens'
import { EventBus } from './../../utils/event-bus';
export default {
  components: {
    TabItens,
  },
  data() {
    return {
        tab: null,
         key: "value",
          items: [
            { tabId: 0, tabInicial:false, name: "Vestidos", content: "TabContent" },
            { tabId: 1, tabInicial:true, name: "Intimos", content: "TabContent" },
          ],
      }
  },
  mounted() {
   console.log("#Mounted#");
  },
  methods: {
    loadDataTab(tabId) {
      // chamat metodo de filho aqui...
      console.log('#tabId#',tabId);
      EventBus.$emit('load-data-tab',tabId);

    }
  },
};
</script>

<style>
</style>